

/* CASCADE RULE ALSO WILL FOLLOW HERE IN BOTH CSS FILE means style.css has less priority style2.css more */


 /* specificity 1+100+10+100 = 2 1 1 */

 li#html.html#html {
    background-color: chocolate;
}


/* inheritance */

body {
    color: rgb(97, 153, 13);
}

ul {
    font-size: 32px;
    font-weight: 900;
    font-family: cursive;
}

/* button is not going to inherit autometically */

button {
    font-family: inherit;
}