p {
    color: red;
    font-size: 28px;
    font-weight: 700;
    text-decoration: underline;
    font-family: cursive;
    text-align: center;
    font-style: italic;
}

a {
    text-decoration: none;
}