
/*   CSS UNITS VW VIEWPORT WIDTH / VH  VIEWPORT HEIGHT  */

/* 50 vh means 50% of viewport height
50 vw means 50% of viewport width */

 /* vw/ vh working on border / padding / margin also */


body {
    margin: 0;
}

h1 {
    background-color: aqua;
}

section {
    background-color: aquamarine;
    width: 50vw;
    /* height: 20vh; */
    /* padding: 20px; */
    border: 2vw solid red;
    padding: 6vw;
    margin: 5vw;
    font-size:2vw;
    /* box-sizing: border-box; */
}

/* .box {
    background-color: blueviolet;
    padding: 20px;
    margin: 25px;
} */